div.image-gallery {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  
  div.image,
  video {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 125vh;
    background-position: center center;
    transition-property: all;
    transition-duration: 2000ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
    transform: translate(100%,0) scale(0.75);
    opacity: 0;

    &.in {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
    &.out {
      transform: translate(-100%, 0) scale(0.75);
      opacity: 0;
    }
    &.reset {
      transform: translate(100%, 0) scale(0.75);
      opacity: 0;
    }
  }
}
